src/conf/xml-resources/web-service-references/KinomaniakWS/wsdl/localhost_8080/KinomaniakWS2/KinomaniakWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="KinomaniakWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/KinomaniakWS2/KinomaniakWS?xsd=1"/>
</xsd:schema>
</types>
<message name="movieSuggestionsByCast">
<part name="parameters" element="tns:movieSuggestionsByCast"/>
</message>
<message name="movieSuggestionsByCastResponse">
<part name="parameters" element="tns:movieSuggestionsByCastResponse"/>
</message>
<message name="getReservationsByShow">
<part name="parameters" element="tns:getReservationsByShow"/>
</message>
<message name="getReservationsByShowResponse">
<part name="parameters" element="tns:getReservationsByShowResponse"/>
</message>
<message name="getReservationById">
<part name="parameters" element="tns:getReservationById"/>
</message>
<message name="getReservationByIdResponse">
<part name="parameters" element="tns:getReservationByIdResponse"/>
</message>
<message name="getOccupiedSeatsForShow">
<part name="parameters" element="tns:getOccupiedSeatsForShow"/>
</message>
<message name="getOccupiedSeatsForShowResponse">
<part name="parameters" element="tns:getOccupiedSeatsForShowResponse"/>
</message>
<message name="getReservationsByUser">
<part name="parameters" element="tns:getReservationsByUser"/>
</message>
<message name="getReservationsByUserResponse">
<part name="parameters" element="tns:getReservationsByUserResponse"/>
</message>
<message name="confirmReservation">
<part name="parameters" element="tns:confirmReservation"/>
</message>
<message name="confirmReservationResponse">
<part name="parameters" element="tns:confirmReservationResponse"/>
</message>
<message name="bookTicketForShow">
<part name="parameters" element="tns:bookTicketForShow"/>
</message>
<message name="bookTicketForShowResponse">
<part name="parameters" element="tns:bookTicketForShowResponse"/>
</message>
<message name="movieSuggestionsByCastList">
<part name="parameters" element="tns:movieSuggestionsByCastList"/>
</message>
<message name="movieSuggestionsByCastListResponse">
<part name="parameters" element="tns:movieSuggestionsByCastListResponse"/>
</message>
<message name="bookTicketForShowObj">
<part name="parameters" element="tns:bookTicketForShowObj"/>
</message>
<message name="bookTicketForShowObjResponse">
<part name="parameters" element="tns:bookTicketForShowObjResponse"/>
</message>
<message name="movieSuggestionsByGenre">
<part name="parameters" element="tns:movieSuggestionsByGenre"/>
</message>
<message name="movieSuggestionsByGenreResponse">
<part name="parameters" element="tns:movieSuggestionsByGenreResponse"/>
</message>
<message name="movieSuggestionsByUser">
<part name="parameters" element="tns:movieSuggestionsByUser"/>
</message>
<message name="movieSuggestionsByUserResponse">
<part name="parameters" element="tns:movieSuggestionsByUserResponse"/>
</message>
<message name="getMovieList">
<part name="parameters" element="tns:getMovieList"/>
</message>
<message name="getMovieListResponse">
<part name="parameters" element="tns:getMovieListResponse"/>
</message>
<message name="getShow">
<part name="parameters" element="tns:getShow"/>
</message>
<message name="getShowResponse">
<part name="parameters" element="tns:getShowResponse"/>
</message>
<message name="getCast">
<part name="parameters" element="tns:getCast"/>
</message>
<message name="getCastResponse">
<part name="parameters" element="tns:getCastResponse"/>
</message>
<message name="getMoviesByActor">
<part name="parameters" element="tns:getMoviesByActor"/>
</message>
<message name="getMoviesByActorResponse">
<part name="parameters" element="tns:getMoviesByActorResponse"/>
</message>
<message name="getShowList">
<part name="parameters" element="tns:getShowList"/>
</message>
<message name="getShowListResponse">
<part name="parameters" element="tns:getShowListResponse"/>
</message>
<message name="getMovie">
<part name="parameters" element="tns:getMovie"/>
</message>
<message name="getMovieResponse">
<part name="parameters" element="tns:getMovieResponse"/>
</message>
<message name="listReservations">
<part name="parameters" element="tns:listReservations"/>
</message>
<message name="listReservationsResponse">
<part name="parameters" element="tns:listReservationsResponse"/>
</message>
<message name="getActorList">
<part name="parameters" element="tns:getActorList"/>
</message>
<message name="getActorListResponse">
<part name="parameters" element="tns:getActorListResponse"/>
</message>
<message name="getMoviesByGenre">
<part name="parameters" element="tns:getMoviesByGenre"/>
</message>
<message name="getMoviesByGenreResponse">
<part name="parameters" element="tns:getMoviesByGenreResponse"/>
</message>
<message name="userLogin">
<part name="parameters" element="tns:userLogin"/>
</message>
<message name="userLoginResponse">
<part name="parameters" element="tns:userLoginResponse"/>
</message>
<portType name="KinomaniakWS">
<operation name="movieSuggestionsByCast">
<input wsam:Action="http://service/KinomaniakWS/movieSuggestionsByCastRequest" message="tns:movieSuggestionsByCast"/>
<output wsam:Action="http://service/KinomaniakWS/movieSuggestionsByCastResponse" message="tns:movieSuggestionsByCastResponse"/>
</operation>
<operation name="getReservationsByShow">
<input wsam:Action="http://service/KinomaniakWS/getReservationsByShowRequest" message="tns:getReservationsByShow"/>
<output wsam:Action="http://service/KinomaniakWS/getReservationsByShowResponse" message="tns:getReservationsByShowResponse"/>
</operation>
<operation name="getReservationById">
<input wsam:Action="http://service/KinomaniakWS/getReservationByIdRequest" message="tns:getReservationById"/>
<output wsam:Action="http://service/KinomaniakWS/getReservationByIdResponse" message="tns:getReservationByIdResponse"/>
</operation>
<operation name="getOccupiedSeatsForShow">
<input wsam:Action="http://service/KinomaniakWS/getOccupiedSeatsForShowRequest" message="tns:getOccupiedSeatsForShow"/>
<output wsam:Action="http://service/KinomaniakWS/getOccupiedSeatsForShowResponse" message="tns:getOccupiedSeatsForShowResponse"/>
</operation>
<operation name="getReservationsByUser">
<input wsam:Action="http://service/KinomaniakWS/getReservationsByUserRequest" message="tns:getReservationsByUser"/>
<output wsam:Action="http://service/KinomaniakWS/getReservationsByUserResponse" message="tns:getReservationsByUserResponse"/>
</operation>
<operation name="confirmReservation">
<input wsam:Action="http://service/KinomaniakWS/confirmReservationRequest" message="tns:confirmReservation"/>
<output wsam:Action="http://service/KinomaniakWS/confirmReservationResponse" message="tns:confirmReservationResponse"/>
</operation>
<operation name="bookTicketForShow">
<input wsam:Action="http://service/KinomaniakWS/bookTicketForShowRequest" message="tns:bookTicketForShow"/>
<output wsam:Action="http://service/KinomaniakWS/bookTicketForShowResponse" message="tns:bookTicketForShowResponse"/>
</operation>
<operation name="movieSuggestionsByCastList">
<input wsam:Action="http://service/KinomaniakWS/movieSuggestionsByCastListRequest" message="tns:movieSuggestionsByCastList"/>
<output wsam:Action="http://service/KinomaniakWS/movieSuggestionsByCastListResponse" message="tns:movieSuggestionsByCastListResponse"/>
</operation>
<operation name="bookTicketForShowObj">
<input wsam:Action="http://service/KinomaniakWS/bookTicketForShowObjRequest" message="tns:bookTicketForShowObj"/>
<output wsam:Action="http://service/KinomaniakWS/bookTicketForShowObjResponse" message="tns:bookTicketForShowObjResponse"/>
</operation>
<operation name="movieSuggestionsByGenre">
<input wsam:Action="http://service/KinomaniakWS/movieSuggestionsByGenreRequest" message="tns:movieSuggestionsByGenre"/>
<output wsam:Action="http://service/KinomaniakWS/movieSuggestionsByGenreResponse" message="tns:movieSuggestionsByGenreResponse"/>
</operation>
<operation name="movieSuggestionsByUser">
<input wsam:Action="http://service/KinomaniakWS/movieSuggestionsByUserRequest" message="tns:movieSuggestionsByUser"/>
<output wsam:Action="http://service/KinomaniakWS/movieSuggestionsByUserResponse" message="tns:movieSuggestionsByUserResponse"/>
</operation>
<operation name="getMovieList">
<input wsam:Action="http://service/KinomaniakWS/getMovieListRequest" message="tns:getMovieList"/>
<output wsam:Action="http://service/KinomaniakWS/getMovieListResponse" message="tns:getMovieListResponse"/>
</operation>
<operation name="getShow">
<input wsam:Action="http://service/KinomaniakWS/getShowRequest" message="tns:getShow"/>
<output wsam:Action="http://service/KinomaniakWS/getShowResponse" message="tns:getShowResponse"/>
</operation>
<operation name="getCast">
<input wsam:Action="http://service/KinomaniakWS/getCastRequest" message="tns:getCast"/>
<output wsam:Action="http://service/KinomaniakWS/getCastResponse" message="tns:getCastResponse"/>
</operation>
<operation name="getMoviesByActor">
<input wsam:Action="http://service/KinomaniakWS/getMoviesByActorRequest" message="tns:getMoviesByActor"/>
<output wsam:Action="http://service/KinomaniakWS/getMoviesByActorResponse" message="tns:getMoviesByActorResponse"/>
</operation>
<operation name="getShowList">
<input wsam:Action="http://service/KinomaniakWS/getShowListRequest" message="tns:getShowList"/>
<output wsam:Action="http://service/KinomaniakWS/getShowListResponse" message="tns:getShowListResponse"/>
</operation>
<operation name="getMovie">
<input wsam:Action="http://service/KinomaniakWS/getMovieRequest" message="tns:getMovie"/>
<output wsam:Action="http://service/KinomaniakWS/getMovieResponse" message="tns:getMovieResponse"/>
</operation>
<operation name="listReservations">
<input wsam:Action="http://service/KinomaniakWS/listReservationsRequest" message="tns:listReservations"/>
<output wsam:Action="http://service/KinomaniakWS/listReservationsResponse" message="tns:listReservationsResponse"/>
</operation>
<operation name="getActorList">
<input wsam:Action="http://service/KinomaniakWS/getActorListRequest" message="tns:getActorList"/>
<output wsam:Action="http://service/KinomaniakWS/getActorListResponse" message="tns:getActorListResponse"/>
</operation>
<operation name="getMoviesByGenre">
<input wsam:Action="http://service/KinomaniakWS/getMoviesByGenreRequest" message="tns:getMoviesByGenre"/>
<output wsam:Action="http://service/KinomaniakWS/getMoviesByGenreResponse" message="tns:getMoviesByGenreResponse"/>
</operation>
<operation name="userLogin">
<input wsam:Action="http://service/KinomaniakWS/userLoginRequest" message="tns:userLogin"/>
<output wsam:Action="http://service/KinomaniakWS/userLoginResponse" message="tns:userLoginResponse"/>
</operation>
</portType>
<binding name="KinomaniakWSPortBinding" type="tns:KinomaniakWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="movieSuggestionsByCast">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationsByShow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOccupiedSeatsForShow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookTicketForShow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movieSuggestionsByCastList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookTicketForShowObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movieSuggestionsByGenre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movieSuggestionsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCast">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesByActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShowList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesByGenre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KinomaniakWS">
<port name="KinomaniakWSPort" binding="tns:KinomaniakWSPortBinding">
<soap:address location="http://localhost:8080/KinomaniakWS2/KinomaniakWS"/>
</port>
</service>
</definitions>